@model StarFleetBuilder.Models.Starship

@{
    ViewData["Title"] = "Purchase";
}

<h1 class="starwars-font">Purchase Starship</h1>

<h4 class="starwars-font">Selected Starship</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Display Starship Information -->
            <div class="form-group">
                <label class="control-label">Model Name:</label>
                <input asp-for="Name" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Model:</label>
                <input asp-for="Model" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Cost:</label>
                <input asp-for="CostInCredits" class="form-control" readonly />
            </div>
            <!-- Hidden Fields-->
            <input type="hidden" asp-for="Crew"/>
            <input type="hidden" asp-for="Passengers"/>
            <input type="hidden" asp-for="CargoCapacity"/>
            <input type="hidden" asp-for="Consumables"/>
            <input type="hidden" asp-for="Length" />


            <!-- Purchase Button -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Purchase
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Create" class="btn btn-secondary">Show me another</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
